
@media (max-width:768px){  
  html,body{
    overflow-x: hidden;
  }
  .wrapper{
    width: 100%;
  }
  .inner{
    min-width: 100%;
    margin: 0 auto;
  }
  /* header */
  header{
    min-height: 600px;
    max-height: 600px;
  }
  nav ul{
    display: none;
  }
  .login{
    display: flex;
    align-items: center;
    margin-right: 2em;
  }
  .login a{
    padding: .5em 1em;
    border-radius: .5em;
    margin-right: 2em;
    font-size: 1.2em;
    font-weight: 500;
    background-color: white;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .respon_menu{
    top: 0;
    min-height: 600px;
  }
  .board_left{
    width: 100%;
  }
  .searchbox{
    width: 100%;
    height: 50%;
    align-items: center;
    margin-left: -1em;
  }
  .searchbox p{
    margin-left: 0;
    margin-bottom: 1.5em;
    order: 2;
  }
  .searchbox input{
    order: 3;
    margin-left: 12px;
  }
  .board_right{
    display: none;
  }

  /* main */
  main{
    min-height: 600PX;
    max-height: 600px;
  }
  .main_left{
    display: none;
  }
  .media>div{
  }
  .main_right{
    width: 100%;
    background-color: #211c1a;
    padding-top: 20px;
    padding-bottom: 0;
    margin-top: 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
}
  .grid_box .tab1,
   .grid_box .tab2{
   width: 100%;
   height: 300px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   grid-gap: 1em;
   margin-top: 2em;
   justify-items: center;
 }
 .grid_box>.tab1 div,
 .grid_box>.tab2 div{
   display: flex;
   width: 100%;
   height: 250px;
   background-color: white;
   border-style: none;
}
.flex_co{
  flex-direction: column;
  justify-content: center;
}
.grid_box div button{
  font-size: .7em;
  margin-top: 1em;
  width: 120px;
}
.butbox{
  padding-bottom: 3em;
}
#respon_but{
  padding: 1.3em 0;
}
  .butbox button{
    width: 200px;
  }
.main_respon{
  display: flex;
  height: 100px;
  align-items: center;
  margin-bottom: 0;
}
.main_respon button{
  margin-top: 0;
  height: 50px;
  margin-bottom: 70px;
}
.main_respon button:last-child{
  margin-right: 0;
}
/* slick */
.slick-dots{
  top: 70%;
  right: -3px;
}
/* section */
section{
  flex-direction: column;
  min-height: 750px;
}
.sec_grid{
  margin-top: 10%;
  padding: 0 1.5em;
  grid-template-columns: 1fr 1fr ;
}
.sec_text{
  order: -1;
  padding: 0;
  max-height: 150px;
}
.sec_text h2{
  margin-top: 10%;
}
.sec_box{
  padding: .5em;
}
.sec_box img{
  display: none;
}
.add div{
  display: none;
}
/* media */
.media{
  grid-template-columns: 1fr 1fr;
  min-height: 700px;
}
.media>div{
  align-items: center;
}
.media>div hr{
  width: 80%;
  margin-left: 0;
}
.media>div:nth-child(2n+1) hr{
  margin-left: -15px;
}
.media>div:nth-child(2n+1) h2{
  margin-left: -10px;
}
.media>div h2{
  font-size: 1em;
}
.media>div:nth-of-type(3) h2{
 position: absolute;
 top: 40%;
}
.media>div:nth-of-type(3) hr{
 position: absolute;
 top: 50.3%;
}
/* footer */
.footer_left{
  padding-top: 0;
  border-right: none;
}
.footer_right{
  display: none;
}
.footer_nav{
  font-size: .7em;
}
.footer_nav ul{
  flex-wrap: wrap;
  justify-content: center;
  order: 2;
}
.footer_nav ul li::after{
  content: '';
  display: none;
}
.footer_nav ul li{
 flex: 1 1 50%;
 margin-left: 0;
}
.footer_nav a{
  margin-left: 7em;
}
.footer_nav ul li::after{
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 2px;
  height: 10px;
  background-color: white;
}
.footer_text{
  order: 3;
  text-align: center;
}
.footer_but{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}
.footer_but button{
  flex: 1;
}
footer.inner{

}
.respon_menu{
  height: 100vh;
}
.respon_menu ul li a:hover{
  text-decoration: underline;
}
}
/* hover */
@media (min-width:769px){
  nav ul li a:hover{
    color: white;
    border-bottom:1px solid white;
  }
  .news_textbox:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,.8);
  }
  .main_textbox button:hover{
    background-color: #fcb321;
  }
  .butbox button:hover{
    background-color: #fcb321;
    color: white;
  }
  .grid_box>div div:hover{
    transform: translateY(-1em);
    box-shadow: 0 5px 10px rgba(0,0,0,.55);
    border: 2px solid #fcb321;
  }
  .grid_box>div div:hover button{
    background-color: #fcb321;
  }
  .sec_box:hover{
    transform: translateY(-1em);
    box-shadow: 0 5px 10px rgba(0,0,0,.55);
    border: 2px solid #fcb321;
  }
  .sec_box h3:hover,
  .sec_box p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .add div:hover{
    opacity: 1;
    cursor: pointer;
  }
  .media_text button:hover{
    background-color: #fcb321;
  }
  .media>div:hover{
    background-color: rgba(0,0,0,.8);
  }
  .media>div:hover p,
  .media>div:hover button{
    display: block;
  }
  .footer_nav ul li a:hover{
    text-decoration: underline;
  }
  .footer_but button:hover{
    background-color: black;
    opacity: .5;
  }
  .footer_right ul li a:hover{
    text-decoration: underline;
  }
  .media>div:nth-of-type(3) h2{
   position: absolute;
   top: 42%;
  }
  .media>div:nth-of-type(3) hr{
   position: absolute;
   top: 51.5%;
  }
}
