/* 1300px */
@media (max-width: 1300px) {
  body {
    position: static;
    overflow: auto;
  }
  /* header */
  nav ul {
    display: none;
  }
  .login {
    grid-column: 10 / span 3;
    display: flex;
    justify-content: space-around;
  }
  .login i,
  .login input {
    display: none;
  }
  .hamburger {
    display: block;
  }
  /* modal */
  .modal {
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .modal_ul {
    flex-direction: column;
  }
  .modal .modal_ul > li {
    width: 100%;
  }
  .modal_ul ul li {
    display: none;
  }
  .modal_menu {
    flex-direction: column;
  }
  .img_box img {
    width: 100%;
  }
  /* main */
  .first {
    padding-top: 0;
  }
  .first_song {
    grid-column: span 12;
  }
  .first_song::before {
    display: none;
  }
  .album_cover {
    grid-column: span 6;
    font-size: 2em;
  }
  .album_cover img {
    display: none;
  }
  .singer {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .singer hr {
    display: none;
  }
  .singer > p {
    font-size: 0.5em;
  }
  .first_song > p {
    display: none;
  }
  .first_video {
    grid-column: span 12;
    height: 315px;
  }
  .ranking_box p {
    font-size: 0.8em;
  }
  /* section */
  section {
    padding-bottom: 30px;
  }
  section h1 {
    grid-column: span 10;
  }
  section button {
    grid-column: span 2;
  }
  div.center {
    grid-column: span 12;
    position: relative;
  }
  .tab_cont,
  .tab_cont2 {
    height: 100%;
  }
  .right {
    grid-column: span 12;
    height: 100%;
  }
  .tab_item2 {
    grid-column: span 6;
  }
  .edit_box2 {
    grid-column: span 6;
  }

  /* slide */
  .slider {
    height: 100%;
  }
}
/* 768px */
@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
  /* header */
  .login {
    grid-column: 9 / span 4;
  }
  .ranking_box p {
    font-size: 0.5em;
  }
  /* modal */
  .modal {
    width: 100%;
  }
  .modal2 {
    width: 100%;
  }
  /* main */
  main {
    padding-left: 33px;
    padding-right: 33px;
  }
  .ranking h2 a {
    font-size: 1.5em;
  }
  /* section */
  section {
    padding-bottom: 50px;
    padding-left: 33px;
    padding-right: 33px;
  }
  section h1 {
    grid-column: span 12;
  }
  section button {
    grid-column: 5 / span 4;
  }
  .tab_but button {
    display: none;
  }
  .sel_button {
    display: block;
    width: 100%;
    padding: 1em 0;
    background-color: transparent;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid gray;
    border-radius: 0.5em;
  }
  .tab_text {
    width: 270px;
  }
  .respon_text {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 222;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    margin-left: 1em;
    font-size: 1em;
    width: 200px;
  }
  .respon_text:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .right {
    grid-column: span 6;
  }
  .tab_item2 {
    grid-column: span 12;
  }
  .tab_item img {
    border-radius: 1em;
    object-fit: fill;
  }
  .img_radius {
    width: 100%;
  }
  /* tab */
  div.center {
    grid-column: span 12;
    height: 350px;
  }
  .tab_cont,
  .tab_cont2 {
    height: 100%;
  }
  .right {
    grid-column: span 12;
  }
  /* section2 */
  .section2 {
    padding-left: 33px;
    padding-right: 33px;
  }
  .edit_box {
    grid-column: span 12;
  }
  /* slide */
  .slide {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 66px;
  }
  /* footer */
  .footer_top p a {
    font-size: 1em;
  }
  footer > ul {
    display: flex;
    flex-direction: column;
  }
  footer > ul > li {
    width: 100%;
    align-items: center;
  }
  footer > ul > li:first-child {
    width: 100%;
    height: 100px;
  }
  footer ul li::after {
    display: none;
  }
}
