/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700&display=swap');
 /* font-family: 'Gothic A1', sans-serif; */
/* Common */
body{
  font-family: 'Gothic A1', sans-serif;
  font-size: 15px;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.inner{
  min-width: 1440px;
  max-width: 1920px;
  margin: 0 auto;
}
button{
  cursor: pointer;
  transition: .3s;
  font-family: 'Gothic A1', sans-serif;
}
/* header */
header{
  width: 100%;
  height: 100vh;
  min-height: 800px;
  max-height: 800px;
  background-color: #f4a019;
  padding: 1em 0;
  box-sizing: border-box;
  min-width: 50%;
}
nav{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
nav ul{
  display: flex;
  width: 50%;
}
nav ul li{
  width: calc(100% / 6);
}
.login a{
  padding: .5em 1em;
  border-radius: .5em;
  margin-right: 2em;
  font-size: 1.2em;
  font-weight: 500;
  background-color: white;
}
.login a:hover{
  text-decoration: underline;
  box-shadow: 0 0 3px rgba(0,0,0,.8);
}
/* hamburger */
.hamburger{
  float: right;
  width:50px;
  height: 50px;
  position: relative;
  display: none;
}
.hamburger span{
  position: absolute;
  left:0;
  width: 100%;
  height: 10px;
  background-color: black;
}
.hamburger span:nth-child(1){
  top: 0;
}
.hamburger span:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
.hamburger span:nth-child(3){
  bottom: 0;
}
.board{
  display: flex;
  height: 100%;
}
.board>div{
  flex: 1 1 50%;
}
.respon_back{
  width:100vw;
  height:100vh;
  background-color: black;
  opacity: .5;
  position: absolute;
  top: 0;
  z-index: 333;
  display: none;
}
.respon_menu{
  position: absolute;
  left: 100%;
  z-index: 334;
  height: 70%;
  width: 65%;
  background-color: white;
  padding: 1.5em;
  border-radius: 1em 0 0 1em;
  display: none;
  transition: .5s;
}
.respon_menu hr{
  height: 3px;
  background-color: gray;
}
.respon_menu ul li{}
.respon_menu ul li a{
  font-size: 1.2em;
  font-weight: 600;
  line-height: 3em;
}

/* left */
.board_left{
 position: relative;
}
.searchbox{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
  margin-left: 3em;
}
.searchbox input[type=search]{
  width: 70%;
  height: 15%;
  border-radius: 2em;
  background-color: white;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  z-index: 222;
}
.searchbox p, .searchbox h1{
  margin-left: 20px;
  z-index: inherit;
}
.searchbox p{
  font-weight: 500;
}
.searchbox h1{
  font-size: 3.5em;
  font-weight: 600;
}
.board_left img:nth-of-type(1){
  position: absolute;
  width:50%;
  bottom: 55px;
}
.board_left img:nth-of-type(2){
  position: absolute;
  bottom: 55px;
  left: 55%;
}
/* right */
.board_right{
  width: 50%;
  height:100%;
}
.news{
  flex-basis: 700px;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.news_all{
  width: 95.5%;
  display: flex;
  justify-content:space-between;
}
.news_all a{
  font-size: 1.4em;
  margin-bottom: .5em;
  position: relative;
}
.text_all{
width: 100%;
height: 60%;
display: flex;
justify-content: center;
}
.news_all a:first-child{
  margin-left: 1em;
}
.news_all a:last-child{
  margin-right: 15px;
  display: block;
}
.news_textbox{
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 1em;
  color: white;
  padding: 1em;
  background-color: rgba(0,0,0,.55);
  margin-right: 20px;
}
div.news_textbox{
  height:250PX;
}
.news_textbox p:nth-of-type(2){
  margin-bottom: 1em;
}
.news_textbox p:nth-of-type(3){
  font-size: .8em;
}
.news_textbox p:nth-of-type(4){}
.text_all div:first-child{
  margin-right: 2em ;
}
.news_textbox>p:first-child{
  text-align: right;
  font-size: 1.2em;
}
.news_textbox>p:last-child{
  font-size: .8em;
}
.news_all a:first-child::after{
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 3px;
  height: 100%;
  background-color: black;
  margin-right: 1em;
}
/* slick */
.slick-dots{
  top: 80%;
  right: 10px;
}
/* main */
main{
  width:100%;
  height: 100vh;
  min-height: 800px;
  max-height: 800px;
  display: flex;
  background-color: #211c1a;
  color: white;
}
main div{
  flex: 1 1 50%;
}
.main_left{
  padding: 10% 10%;
}
.main_left h2{
  font-size: 2em;
  font-weight: 600;
}
.main_textbox{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.main_textbox button{
  margin-top: 3em;
  border: 1px solid white;
  background-color: #211c1a;
  color: white;
  padding: 1em .5em;
  font-weight: 400;
}

.main_left div:last-of-type button{
  width: 150px;
}
.main_right{
  background-color: white;
  padding: 7em 0;
}
.butbox{
  display: flex;
  justify-content: center;
}
.butbox button{
  width: 100px;
  border: 1px solid white;
  color: white;
  padding: 1em .5em;
  background-color: #686868;
  border-radius: 1em;
  font-weight: 400;
  margin-right: 1em;
  margin-top: 3.5em;
}
.butbox button:last-child{
  margin-right: 0;
}
.butbox button.active {
  background-color: #fcb321;
  color: white;
}
.main_respon{
  display: none;
  width: 100%;
  justify-content: center;
  margin-bottom: 3em;
}
.main_respon button{
  margin-top: 3em;
  border: 1px solid white;
  background-color: #211c1a;
  color: white;
  padding: 1em .5em;
  font-weight: 400;
  margin-right: 2em;
}
 .grid_box .tab1,
  .grid_box .tab2{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 195px);
  grid-gap: 1em;
  margin-top: 2em;
  justify-items: center;
}
.grid_box div.tab1{
}
.grid_box div.tab2 {
  display: none;
}
.grid_box>.tab1 div,
.grid_box>.tab2 div{
  width: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: white;
  border: 1px solid gray;
}
.grid_box div button{
  width: 140px;
  border: none;
  background-color: #686868;
  border-radius: 1em;
  padding: .7em .5em;
  font-size: .8em;
  font-weight: 500;
  cursor: pointer;
  color: white;
}
/* section */
section{
  width:100%;
  height: 100vh;
  min-height: 800px;
  max-height: 800px;
  display: flex;
  color: black;
  background-color: white;
}
section div{
  flex: 1 1 50%;
}
.sec_grid{
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: repeat(2, minmax(320px, auto));
  grid-gap: 1em;
  padding: 3%;
  margin-top: 5.7em;
}
.sec_box{
  border: 1px solid gray;
  padding: 2em;
  position: relative;
  transition: .3s;
}
.sec_box h3{
  font-size: 1em;
  font-weight: 500;
}
.sec_box img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}
.sec_box p{
 margin-bottom: 1em;
 font-weight: 400;
}
.sec_text{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: #fcb321;
padding: 3.7em 3% 5em 3%;
}
.sec_text h2{
  font-size: 2em;
  font-weight: 600;
}
.add{
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.add div{
  background-color: black;
  opacity: .8;
  height: 200px;
  border-radius: 1em;
  padding: 1em;
  color: white;
  line-height: 1.5em;
  position: relative;
}
.add div i{
  position: absolute;
  right: 15%;
  bottom: 15%;
}

/* Media */
.media {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  max-height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  overflow: hidden;
}
.media img{
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  position: absolute;
}
.media>div{
  width: 100%;
  background-color: rgba(0,0,0,.55);
  border: 1px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  transition: .3s;
}
.media>div h2{
  font-size: 2em;
  font-weight: 500;
}

.media>div hr{
  width: 70%;
}
.media_text{
  width: 50%;
  position: absolute;
  top: 60%;
  right: 30%;
  transform: translateX(30%);
}
.media_text p{
  height: 50px;
  margin-bottom: 1em;
  display: none;
}
.media_text button{
  border: 1px solid white;
  background-color: rgba(0,0,0,.55);
  padding: 1em 2em;
  margin-top: 3em;
  color: white;
  display: none;
}

/* footer */
footer{
  display: flex;
  background-color: #686868;
  padding: 1em;
}
footer>div{
  flex: 1 1 50%;
}
.footer_left{
  padding-top: 2em;
  border-right: 1px solid white;
}
.footer_left::after{
  content: '';
  width: 2px;
  height: 100%;
  background-color: white;
}
.footer_nav{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-weight: 300;
}

.footer_nav ul {
  grid-column: span 6;
  display: flex;
}
.footer_nav ul li {
  margin-left: 1.5em;
  position: relative;
}
.footer_nav ul li:first-child{
  margin: 0;
}
.footer_nav ul li::after{
  content: '';
  position: absolute;
  top: 2px;
  right: -12px;
  width: 2px;
  height: 15px;
  background-color: white;
}
.footer_nav ul li:last-child::after{
  display: none;
}
.footer_nav ul li a{
  color: white;
}
.footer_but{
  grid-column: span 6;
}
.footer_but button{
  border: 1px solid white;
  background-color: #686868;
  padding: 1em 2em;
  margin-top: 1.5em;
  margin-left: 1em;
  color: white;
}

.footer_but button:first-child{
  margin-left: 0;
}
.footer_text{
  grid-column: span 6;
  margin-top: 1.5em;
}
.footer_right{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer_right div{
  grid-column: span 1;
  font-size: 0.8em;
  line-height: 2em;
}
.footer_right div:nth-child(1),
.footer_right div:nth-child(4){
  margin-left: 1em;
}
.footer_right div:nth-child(4),
.footer_right div:nth-child(5),
.footer_right div:nth-child(6){
  margin-top: 3em;
}
.footer_right div h3 a{
  font-weight: 500;
}
.footer_right div ul li a{
  font-weight: 400;
  color: white;
}
